<section>
    <div class="header row">
        <div class="col-md-6 col-12 content">
            <div class="content1">
                <h6>TEMPLATES</h6>
                <h1>Get beautiful emails and landing pages in just a few clicks</h1>
                <h4>Our templates include all the elements you need to easily launch a professional-looking campaign in
                    no
                    time.</h4>
            </div>
            <div class="content2 d-flex"> <a class="nav-link reg" routerLink="register">Register</a></div>


        </div>
        <div class="col-md-6 col-12 image">
            <img class="img-fluid my-1"
                src="https://eep.io/images/yzco4xsimv0y/2FM8y28F5Dx9uggrpVw9Ko/3605684ea075e520b9b48ad929fba2b4/XXX_Creative-Tools_AUI_01.png?w=1520&fm=webp&q=70" />

        </div>
    </div>
</section>

<section>
    <div class="header1">
        <div class="cont text-center  my-4">
            <h1 class="">
                See what our customers are <br />saying
            </h1>
            <h4 class="">Lots of people are talking about us on Trust<br /> Radius.
                Here are just a few of the extremely<br /> positive
                things.</h4>
        </div>
        <div class="carosal  ">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"> 
                    <span class="sr-only "><i class="bi bi-caret-left-fill"></i></span>
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"><i class="bi bi-caret-right-fill"></i></span>
                </a>
                <div class="carousel-inner">
                    <div class="carousel-item active row">
                        <div class="row">
                            <div class="card col-lg-4 col-md-4 col-10 ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                   <h5 class="card-title ">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>

                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10 ccc  ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10 ccc ddd">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="row mx-4   ">
                            <div class="card col-lg-4 col-md-4 col-10  ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">English title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10 ccc   ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">English title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10  ccc ddd ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">English title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item row">
                        <div class="row ">
                            <div class="card col-lg-4 col-md-4 col-10 ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">Title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10  ccc  ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">Title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                            <div class="card col-lg-4 col-md-4 col-10 ccc ddd ">
                                <div class="card-body  ">
                                    <div class="star ">
                                        <ul class="d-flex justify-content-center " >
                                            <li  class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>
                                            <li class="col"><i class="bi bi-star"></i></li>      
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 class="card-title ">Title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.</p>
                                        <p class="card-text">With supporting text below as a natural lead-in toadditional
                                            content.</p>

                                    </div>
                                    <div class="d-flex justify-content-center"><a routerLink="register"
                                            class=" nav-link ">Go somewhere</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>