<section>
    <div class="container-fluid">
        <div class="header row ">
            <div class=" cont1 col-6  px-3"><a  routerLink=""><i class="bi bi-cup-hot-fill"></i></a></div>

            <div class=" cont2 col-6 d-flex justify-content-end align-items-center">
                <div><i class="bi bi-globe px-3 "></i></div>



                <div class="dropdown">
                    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">English
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item active ">English</a>
                        <a class="dropdown-item">Tamil</a>
                        <a class="dropdown-item">Spanish</a>
                    </div>
                </div>
            </div>

            <div class="cont3">
                <div class="loginform">
                    <h1>Register</h1>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>

                        <button type="submit" class="btn ">Submit</button>
                    </form>

                    <div class="ordiv">
                        <hr>
                        <p class="hr">OR</p>
                       
                    </div>

                    <div class="icon d-flex justify-content-center">
                        <i class="bi bi-google"></i>
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-linkedin"></i>
                    </div>

<p>Already a user?<a routerLink="/login">LOGIN</a></p>


                </div>


            </div>
            <div class="footer">
                <p class="end">©2001–2023 All Rights Reserved. Mailchimp® is a registered trademark of The Rocket
                    Science Group, LLC. <a href="">Cookie Preferences</a>,<a href="">Privacy</a> , and <a
                        href="">Terms</a></p>
            </div>
        </div>
    </div>
</section>